
.marquee-container {
  overflow: hidden; 
  width: 100%; 
  height: 100px; 
  position: relative;
  margin: 0 auto; 
}

.marquee-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1; 
}


.marquee {
  display: flex;
  animation: scroll 15s linear infinite;
  position: relative;
  z-index: 2; 
  will-change: transform;
}

.marquee-item {
  flex-shrink: 0; 
  margin-right: 3vw; 
}

.marquee-image {
  width: 5vw; 
  height: 100%;
  max-width: 100px;
  object-fit: contain; 
  filter: grayscale(100%); 
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .marquee-container {
    width: 90%; 
    height: 120px; 
  }
  
  .marquee-image {
    width: 15vw; 
    margin-right: 2vw;
  }
}

@media (max-width: 480px) {
  .marquee-container {
    width: 95%; 
    height: 100px; 
  }

  .marquee-image {
    width: 25vw; 
    margin-right: 2vw; 
  }
}
